body {
    background: #eee;
    padding-top: 52px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 52px;
    margin: 0px;
    padding: 0px 22px;
    background: rgb(81, 34, 121);
    color: #fff;
}

header h1 {
    float: left;
    margin: 3px 4px;
    line-height: 46px;
    text-transform: uppercase;
    font-size: 0.8em;
}

.panel {
    float: left;
    margin: 14px 8px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(204, 204, 204, 0.37);
    border-radius: 3px;
}

.panel .panel-title {
    text-align: left;
    font-size: 1.1em;
    padding: 8px 12px;
}

.panel-body .wifi-conn {
    text-align: left;
    margin: 10px 8px;
    width: 240px;
    font-size: 0.9em;
}

.panel-body .wifi-conn .fa-wifi {
    margin: 0px 6px;
}

.panel-body .wifi-conn .btn-connect {
    float: right;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(81, 34, 121);
    font-size: 0.7em;
    line-height: 2em;
    font-weight: bold;
}

.loader {
    float: left;
    border: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid #fff;
    border-radius: 50%;
    margin: 10px 6px;
    width: 24px;
    height: 24px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}